<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qhm.dao.DomainDao">
  
<insert id="inserDomain" keyProperty="Domain.id" useGeneratedKeys="true" keyColumn="id">
		insert into cms_getsome (id, text, url, 
	      user_id,created)
	    values (#{Domain.text}, #{Domain.url},#{Domain.userid},#{Domain.created} )
</insert>
<select id="listDomainBytime" resultType="Domain">

     select d.id,d.text,d.url,d.user_id userid,d.created,user.username 
		from cms_getsome d,cms_user user
		WHERE d.user_id=user.id 
		order by d.created desc

</select>	
<delete id="deleteDomainByid">

delete from cms_getsome where id in(${value})

</delete>
	
</mapper>